<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>E-Library</title>
        <!-- <link rel="stylesheet" href="public/css/style.css" type="text/css"> -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/script/css.css" type="text/css">
    </head>
  <body>
    <!-- vertical menu -->

   <%- include('sidebar')%>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5 page-content">
      <div class="custom-menu">
        <button
          type="button"
          id="sidebarCollapse"
          class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
        >
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div class= "container mt-5">
        <div class ="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
          <div class="container mb-5">
            <h3 class="text-center" style="font-size: 30px; color:teal; font-family: cursive;">Update Book Details</h3>
          </div>
       
      <form method="PUT" id="form">

        <% bookupdate.forEach(function( books ){ %>

        <!-- Name input -->
        <div class="form-group mb-4">
          <label class="form-label" for="title">Book Title</label>
            <input type="text" value="<%= books.title %>" id="title" class="form-control" name="title" />
        </div>

        <!--book update form-->
        <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="author">Author's Name</label>
                <input type="text"value="<%= books.author %>"  id="author" class="form-control"  name="author"/>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="pagenumber">Page Number</label>
                <input type="number"value="<%= books.pageCount %>"  id="pagenumber" class="form-control" name="pagenumber"/>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="genre">Genre</label>
                <input type="text" value="<%= books.genre %>"  id="genre" class="form-control"  name="genre"/>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="publisher">Publisher</label>
                <input type="text" value="<%= books.publisher %>"  id="publisher" class="form-control"  name="publisher"/>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="datepublish">Date</label>
                <input type="date" id="datepublish"value=" <%= books.datepublish %>" name="datepublish" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="image">Image Url</label>
                <input type="text" id="image" value="<%= books.imageUrl %>" name="image" class="form-control" />
              </div>
            </div>
            </div>

        <!-- Message input -->
        <div class="form-group mb-4">
          <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" name="description">
                <%= books.description %>
            </textarea>
        </div>
        <!-- Submit button -->
        <div class="form-group">
      <a  href ="/book/<%= books.bookId %>" id="updatebtn" data-id ="<%= books.bookId %>" class="btn btn-primary btn-block mb-4">Update</a>
    </div>
    <%})%>
        </form>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
     
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.0/umd/popper.min.js" ></script>
    
    <!-- toggle file-->
    <script src ="/script/toggle.js"></script>

    <!-- update book details. -->


    <script>
      const updateBtn = document.getElementById("updatebtn")
      const author = document.getElementById("author");
      const description = document.getElementById("description");
      const datepublish = document.getElementById("datepublish");
      const title = document.getElementById("title");
      const genre = document.getElementById("genre");
      const publisher = document.getElementById("publisher");
      const pagenumber = document.getElementById("pagenumber");
      const image = document.getElementById("image");
        


      updateBtn.addEventListener("click", async (e)=>{


        // e.preventDefault();

        const editBtnPress = e.target.dataset.id;

       await  fetch(`/update/${editBtnPress}`,{
          method: "PUT",
          headers: { "Content-Type":"application/json"},

          body: JSON.stringify({
              title:title.value,
              author:author.value,
              datePublished:datepublish.value,
              description:description.value,
              pageCount:pagenumber.value,
              genre:genre.value,
              publisher:publisher.value,
              imageUrl:image.value,
              })

        }).then(res=>res.json());

      })
    </script>
  </body>
</html>
